@charset "utf-8";

$font-color: #383e45;  // 全体の文字色
$black: #000;   // 黒：h3の文字色
$white: #fff;   // 白：nav, h2の文字色
$theme-color: #e03131;   // 赤：テーマカラー
$nav-shadow: #121212;   // ナビリンクの影の色
$logo-shadow: #c0c0c0;  // ロゴの影の色